@charset 'UTF-8';
//@import 'bourbon';
@import 'utils/variables';
@import 'utils/functions';
@import 'utils/media';
@import 'utils/mixins';
@import 'utils/placeholders';

@import 'base/reset';
@import 'base/typography';
@import 'base/global';

@import 'components/loader';
// @import 'components/navbar';
// @import 'components/slide-nav';
// @import 'components/buttons';
@import 'components/hamburguer';
// @import 'components/maps';
// @import 'components/tooltips';

// @import 'layout/footer';
// @import 'layout/novedades-slide';
// @import 'layout/product-slide';
// @import 'layout/cards';
// @import 'layout/woocommerce';
// @import 'layout/experience';

//@import 'pages/page-home';

.av--bg{
    &__grey{
        background: $brand-grey;
    }
    &__red{
        background: $brand-primary-color
    }
}

.av-sl-info{
    &--logo{
        border-radius: 15px;
        position: relative;
        top: -45px;
    }
    &--ubi__title{
        @include MQ(M){
            display: block;
            font-size: 13px;
        }
    }
    &--block{
        border-radius: 15px;
    }
}

.av-pr--card{
    height: 100%;
    &__text{

    }
}

.av-exp__img{
    filter: blur(8px);
    min-height: 360px;
    position: absolute;
}
.av-slider-tag{
    text-align: center;
    @include MQ(M){
        position: absolute;
        right: 10%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

.btn-primary{
    background: $brand-grey;
    &:hover{
        background: $brand-primary-color;
    }
}