.acf-map {
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0 !important;
	min-height: 300px;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}