.bk-navbar {
    padding: 0;
    z-index: 1000001;
    @include MQ(L) {
        position: absolute;
        z-index: 10;
        width: 100%;
        padding: 6px 0 0 0;
        /* .archive.woocommerce &{
            position: initial !important;
        } */
    }
    &--container {
        background: $white;
        max-height: 75px;
        width: 100%;
        margin: 0;
        min-width: 100%;
        @include MQ(M) {
            margin: 0 auto;
        }
        @include MQ(L) {
            min-width: 90%;
            &::before,
            &::after {
                content: "";
                //display: inline;
                width: 40px;
                height: 75px;
                border-top: 75px solid white;
                //border-bottom-radius: 20px;
            }
            &::before {
                margin-left: -40px;
                border-left: 20px solid transparent;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            &::after {
                position: relative;
                margin-right: -40px;
                border-right: 20px solid transparent;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
        @include MQ(1280px) {
            min-width: initial;
        }
    }
    &__img {
        max-width: 200px;
        padding: 12px 30px 5px 30px;
    }
    &--logo {
        width: 120px;
        margin: 0;
        @include MQ(S) {
            //display: none;
        }
        &__img {
            height: auto;
            width: 100%;
        }
    }
    &--collapse {
        text-align: center;
        background: $white;
    }
}

button:focus {
    outline: none !important;
}

.bk-icon {
    text-transform: uppercase !important;
    font-weight: $font-bold !important;
    font-size: 12px !important;
    &::before {
        @extend %bk-icon;
    }
}

.menu-item>.bk--btn__small {
    text-transform: uppercase !important;
    font-size: 10px !important;
    top: 8px;
}

$items: moto,
tag,
point,
dolar,
event,
helmet;
@each $item in $items {
    .bk-#{$item}-icon {
        &>a::before {
            background: url('../img/bk-'+$item+'-icon.png') no-repeat center center;
            background-size: contain;
        }
    }
    .nav-item.active::before,
    .bk-#{$item}-icon:hover>a::before {
        background: url('../img/bk-'+$item+'-icon-h.png') no-repeat center center;
        background-size: contain;
    }
}

#menu-primary {
    padding: 40px 0;
    @include MQ(M) {
        padding: 0;
    }
    @include MQ(L) {
        display: flex;
    }
}

a.wpmm_mobile_menu_btn {
    display: none !important;
}

.wpmm-hide-mobile-menu {
    display: block !important;
}

.wp-megamenu-wrap .wpmm-nav-wrap>ul>li {
    display: block;
    text-align: center;
    @include MQ(L) {
        display: inline;
    }
}

#wp-megamenu-navbar {
    width: 100%;
    padding-left: 10px
}

.wpmm-strees-row-and-content-container {
    width: 100% !important;
    left: 0 !important;
    position: absolute;
}

.wp-megamenu-wrap .wpmm-nav-wrap>ul>li {
    @include MQ(M) {
        display: inline;
    }
}

.wpmm-grid-post-img {
    background-size: contain !important;
}

ul.wp-megamenu li ul.wp-megamenu-sub-menu .wpmm-vertical-tabs-nav ul,
.wpmm-row {
    padding: 0 !important;
}

#wp-megamenu-navbar>.wpmm-nav-wrap ul.wp-megamenu>li>a {
    padding: 10px;
}

.wpmm-vertical-tabs-nav {
    background: $brand-second-color;
    color: $white;
    margin-top: 8px;
}

ul.wp-megamenu li ul.wp-megamenu-sub-menu .wpmm-vertical-tabs-nav ul li.active a {
    border: none !important;
}

.bk-item-vertical {
    padding: 9px;
    &__link {
        padding: 6px 10px !important;
        &:hover {
            color: $white !important;
        }
    }
    &.active {
        background: $brand-primary-color !important;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 15px;
        margin-right: 10px;
        & &__link {
            color: $white !important;
        }
    }
}

ul.wp-megamenu li ul.wp-megamenu-sub-menu .wpmm-vertical-tabs-nav ul {
    padding: 0 10px 0 0 !important;
}

.wp-megamenu-sub-menu {
    .post-in-price {
        display: none;
    }
}

.wpmm-grid-post.col4 {
    width: 50%;
}

.bk-wc--buttons {
    .compare-button {
        display: inline;
    }
    a {
        margin: 10px !important;
    }
}

.wpmm-grid-post-img-wrap {
    .post-in-image {
        display: none !important;
    }
}

.bk-menu--promo {
    background: $ultra-ligth-grey;
}

.wpmm-vertical-tabs .wpmm-tab-pane.active{
    min-height: 446px !important;
}