@-webkit-keyframes pulsate {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    45% {
        transform: scale(1.75);
        opacity: 0;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    45% {
        transform: scale(1.75);
        opacity: 0;
    }
}

/* Hotspot */

#hotspotImg .hot-spot {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background: url('../img/tooltip.png')no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: all .3s ease;
}

#hotspotImg .hot-spot .circle {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 2em;
    margin: -1em auto auto -1em;
    transform-origin: 50% 50%;
    border-radius: 50%;
    border: 2px solid $brand-primary-color;
    opacity: 0;
    animation: pulsate 3s ease-out infinite;
}

#hotspotImg .hot-spot .tooltip {
    background-color: rgba($white, 0.7);
    display: none;
    font-size: 14px;
    opacity: 1.0;
    left: 0px;
    padding: 15px 15px;
    position: absolute;
    text-align: left;
    top: 30px;
    width: 280px;
    z-index: 999;
    box-shadow: 2px 2px 16px $brand-grey;
    line-height: 1.2;
}

#hotspotImg {
    background-size: cover;
    background-position: center center;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}