.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition-delay: 300ms;
  right: 0;
}

.navigation.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.navigation.active .navigation__inner {
  background-color: #333;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  transition: background-color 0s linear 599ms, -webkit-transform 300ms linear;
  transition: transform 300ms linear, background-color 0s linear 599ms;
  transition: transform 300ms linear, background-color 0s linear 599ms, -webkit-transform 300ms linear;
}

.navigation.active .navigation__inner:after {
  width: 300%;
}

.navigation__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  transition: background-color 0s linear 300ms, -webkit-transform 300ms linear;
  transition: transform 300ms linear, background-color 0s linear 300ms;
  transition: transform 300ms linear, background-color 0s linear 300ms, -webkit-transform 300ms linear;
  
}
.navigation__inner:after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #333;
  z-index: -1;
  transition: all 300ms linear;
}

.navigation__inner nav ul li{
  list-style:none;
  margin-bottom:20px;
}

.navigation__inner nav ul li a{
  color:#fff;
}

.navigation__inner nav ul li a i{
  font-size:25px;
  margin-right:10px;
}

.cerrar-elastic{
  padding:10px 20px 10px 10px;
  text-align:right;
}

.cerrar-elastic a{
  color:#fff;
  font-size:18px;
  text-decoration:none;
  cursor:pointer;
}

.content-elastic li{
    width:100%;
    list-style:none;
    border-bottom:1px solid #000;
}

.content-elastic li{padding:10px 10px 10px 20px;}

.content-elastic li a{
    color:#fff !important;
    display:block;
    font-size:15px;
}

.content-elastic .collapse ul{
    background:#3d3d3d;
    padding-left:20px;
}