#scroll-desktop-menu, #scroll-mobile-menu{
    position:fixed;
    top:0;
    z-index:2;
    background:#fff;

    -webkit-transition: all .3s;
    transition: all .3s;
}

.mostrar-menu{opacity: 1;}
.esconder-menu{opacity: 0;}

.logo img {
    width:100%;
    max-width: 150px;
    margin:10px 0 10px 0;
}

.btn-rojo {
    border-radius: 15px;
    border: 0 solid #6f7071;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    background: #e5302d;
    margin-top: 5px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-rojo:hover {
    background: #b7b7b7;
    color: #fff;
}

.btn-gris {
    border-radius: 15px;
    border: 0 solid #6f7071;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    background: #e5302d;
    margin-top: 5px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #303438;
}

.btn-gris:hover, .btn-gris:focus {
    background: #565454;
    color: #fff;
}

/*Side compartir*/
.side-compartir {
    position: fixed;
    top: 40%;
    z-index: 9999;
    background: #fff;
    -webkit-box-shadow: 0 3px 20px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 3px 20px 0 rgba(0,0,0,.2);
    box-shadow: 0 3px 20px 0 rgba(0,0,0,.2);
}
@media screen and (max-width: 768px) {
    .side-compartir {
        display: none;
    }
}

.side-compartir li {
    list-style: none;
    padding: 15px 10px 10px 15px;
}

.side-compartir li a {
    font-size: 30px;
    color: #c4c4c4;
}

.side-compartir li.twitter a:hover{
    color:#00aced !important;
}

.side-compartir li.facebook a:hover {
    color: #3b5998 !important;
}

.side-compartir li.email a:hover {
    color: #dd4b39 !important;
}

/*Esconder Mostrar preguntas*/

.show-preguntas{display:block;}
.hide-preguntas{display:none;}

/*Bloques*/
section.landing {
    padding: 30px 0;
    -webkit-box-shadow: 0 7px 39px 0 rgba(0,0,0,.43);
    -moz-box-shadow: 0 7px 39px 0 rgba(0,0,0,.43);
    box-shadow: 0 7px 39px 0 rgba(0,0,0,.43);
}

li.bloques-paginas-landing {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

ul.paginas-landing {
    padding: 0;
    margin: 0;
}

ul.paginas-landing li {
    display: inline-block;
}

.nombre-landing {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.info-text-proyecto{}

.info-text-proyecto p{font-size:12px; margin-bottom:0px;}

.info-text-proyecto h2{font-size:16px;}

.gris-claro {
    background: #ddd;
    padding: 0;
}

.frase {
    text-align: center;
    color: #6f7071;
    font-size: 20px;
    padding: 50px;
    width: 100%;
    margin: 0 auto;
}

.slide-imagen {
    position: relative;
}

.fotografia-fondo {
    height: 523px;
    width: 100%;
    top: 0;
    filter: blur(15px);
    position: relative;
}

.foto_galeria {
    position: absolute;
    top: 0;
    width: 100%;
}

.galerias_wrap {
    position: relative;
}

.descripcion_galeria_proyectos {
    position: absolute;
    bottom: 0;
    padding: 30px;
    background: #6f7071;
    max-width: 360px;
    border-top-right-radius: 15px;
    color: #fff;
    z-index: 100;
    background: rgba(48,52,56,.8);
    min-width: 400px;
    z-index: 1;
}

#controles-slides>.anterior>img {
    max-width: 50px;
    opacity: .8;
    transform: rotate(180deg);
    background: rgba(255,255,255,.4);
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    left: 0;
    padding: 15px 0;
}

#controles-slides>.siguiente>img {
    max-width: 50px;
    opacity: .8;
    background: rgba(255,255,255,.4);
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 15px 0;
}

#controles-slides>.anterior>img.proyectos-anterior, #controles-slides>.siguiente>img.proyectos-siguiente {
    top: 53%;
}

/*Tabs Proyectos*/

#tabs-proyectos {
    border-bottom: 15px solid #e5302d;
    borde-radius: 15px;
    margin-top: 30px;
}

#tabs-proyectos li.nav-item a.active{
    background:#e5302d;
    color: #fff;
    border-color: #e5302d #e5302d #e5302d;
}

.slide-proyectos-tab {
    position: relative;
}

.miniaturas_de_tabs_wrap {
    position: absolute;
    bottom: 20px;
}

.miniaturas_de_tabs {
    display: inline-block;
}

.miniaturas_de_tabs img {
    max-width: 160px;
    border-radius: 15px;
    border: 3px solid #fff;
    margin-left: 10px;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    filter: grayscale(100%);
    -webkit-filter: brightness(70%);
}

.descripcion_tab {
    display: none;
}

/*Filtro de plantas*/

.bloque-plantas {
    width: 20%;
    float: left;
}

.bloque-plantas-wrap {
    margin: 15px;
    border: 1px solid #ccc;
}

.box {
    position: relative;
    max-width: 100%;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}

.bloque-plantas-wrap h3 {
    font-size: 16px;
    padding: 15px;
}

.bloque-plantas .detalles-planta {
    background: #fff;
    padding: 15px;
    color: #6f7071;
    font-size: 12px;
}

.bloque-plantas .detalles-planta {
    background: #fff;
    padding: 15px;
    color: #6f7071;
    font-size: 12px;
}

.btn-sin-borde {
    border-radius: 0 !important;
}

/*Mapa*/

.wpgmp_map_container {
    position: relative;
    outline: none;
}

.ubicaciones-mapa p{
    font-size:12px;
}

/*Formulario proyecto*/

.part-b {
    background: #303438;
    overflow: hidden;
    position: relative;
}

.part-b .background {
    display: block;
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #e5302d;
}

.seccion-formulario {
    padding-bottom: 30px;
}

.modal {
    z-index: 9999;
}

.col-fluid-left {
    padding-right: 30px;
}

.col-fluid-right {
    padding-left: 30px;
}

.texto-blanco {
    color: #fff;
}

.texto-col {
    padding: 30px;
    padding-left: 0;
    padding-right: 0;
    float: left;
}

#gracias-form-contacto, #gracias-form-cotizar, #gracias-form-postventa, #gracias-form-solicitar-informacion, #gracias-form-solicitar-planta, #gracias-formulario-proyectos-landing {
    text-align: center;
    position: relative;
    display: none;
}

img.icon-enviado {
    max-width: 120px;
    margin: 0 auto;
}

#masinformacion h3 {
    font-size: 26px;
    margin-top: 30px;
}

.espacio-form {
    margin-top: 30px;
    float: left;
    width: 100%;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.ayuda-form {
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 11px;
    color: #aaa;
    transition: all .1s linear;
    opacity: 0;
    font-weight: 700;
    float: left;
}

.theme_1.wpcf7-form input.error, .theme_1.wpcf7-form select.error, .theme_1.wpcf7-form textarea.error {
    border-color: #e5302d;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(229,48,45,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(229,48,45,.6);
}

.theme_1.wpcf7-form input.error, .theme_1.wpcf7-form select.error, .theme_1.wpcf7-form textarea.error {
    border-bottom: 2px solid #900;
    outline: none;
}

.wpcf7-form label.error {
    margin: 0;
    padding: 0;
    color: #e5302d;
    font-size: 11px;
    float: none;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
}

.icon-svg {
    display: inline-block;
    max-width: 40px;
    float: left;
}

.form-control {
    background: #3e4246;
    border-color: #3e4246;
    color: #fff;
}

.icheckbox_flat-red, .iradio_flat-red {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(//www.avellaneda.cl/wp-content/themes/avellaneda/recursos/lib/icheck-1.x/skins/flat/red.png) no-repeat;
    border: none;
    cursor: pointer;
}

.input-group-text {
    background: #2b2e31 !important;
    color: #999 !important;
    border-color: #2b2e31 !important;
}
/*Footer*/

footer {
    padding-top: 30px;
    padding-bottom: 0;
    width: 100%;
    float: left;
    font-size: 12px;
    -webkit-box-shadow: 0 7px 39px 0 rgba(0,0,0,.43);
    -moz-box-shadow: 0 7px 39px 0 rgba(0,0,0,.43);
    box-shadow: 0 7px 39px 0 rgba(0,0,0,.43);
}

.pie {
    width: 100%;
    float: left;
    background: #ececec;
    text-align: center;
    padding: 5px;
    font-size: 11px;
}