/*-------------------------------
----------MEGA MENU--------------
--------------------------------*/

nav.main-header{
    border-bottom:5px solid #d5d5d5;
}

ul.main-menu-new li.nav-item-parent a.nav-link-parent{
    background:#fff;
    padding:10px 10px 10px 10px;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
}

ul.main-menu-new li.nav-item-parent a.nav-link-parent:hover{
    background:#e5302d;
    color:#fff !important;
}

/*Sub menu*/

.mega-menu {
    border-top:5px solid #e5302d;
	background: rgba(256,256,256,.7);
    display:none;
  	left: 0;
  	position: absolute;
  	text-align: left;
    width: 100%;
    z-index:999;
    padding:20px;

    -webkit-box-shadow: 0px 0px 54px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 54px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 54px -17px rgba(0,0,0,0.75);

    -webkit-transition: visibility 0s, opacity linear .5s;
    transition: visibility 0s, opacity linear .5s;
 
}

.droppable:hover > .mega-menu {
    display: block;
    animation: fade-in 1s;
}

.droppable:not(:hover) .mega-menu.did-fade-in {
    display: block;
    animation: fade-out 1s;
}

/*Contenido Mega-menu*/
div.mega-menu li{
    text-align:left;
    display:inline-block;
    vertical-align:top;
    margin:10px;
}

div.mega-menu li .card{
    width:100%;
    width:135px;
    height:150px;
    background:#fff;
}

div.mega-menu li .card .card-body{
    padding:5px;
}

div.mega-menu li .card .card-img-top{
    height: 76px;
    background-repeat:no-repeat;
    background-position:center center;
}

div.mega-menu li .card h5.card-title{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    margin: 0
}

div.mega-menu li .card h4.card-text{
    font-size:13px;margin-top:7px;
}

div.mega-menu li .card .estado-proyecto{
    font-size:10px;
    background:#e5302d;
    color:#fff;
    text-align:right;
    text-transform:uppercase;
    position:absolute;
    right:0;
    margin-top:-5px;
    padding:0px 2px 0px 2px;
}

/*Animación del Hover del Mega-menu*/

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
@keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}